<div class="separator"></div>

<div class="pages" >
	<button id="previous" class="nav" type="button" ng-disabled="isFirst" ng-click="_onPrevious()"><img src="resources/norman-admin-users-client/assets/Previous_page.svg" alt="Previous"/></button>

	<div class="textNav">
		Pages {{currentPage}} / {{nbPages}}
	</div>

	<button id="next"  class="nav"type="button"  ng-disabled="isLast" ng-click="_onNext()"><img src="resources/norman-admin-users-client/assets/Next_Page.svg" alt="Next"/></button>
</div>