<div class="ui-preview" ng-class="{open: open}" class="animated fadeIn" layout="row" layout-align="start start" layout-fill>
    <div layout="column" layout-grow class="left-side">
        <div layout="row" layout-align="center center" layout-grow class="img-container">
            <ui-busy-indicator show-busy-indicator="showBusyIndicator" full-screen="isFullScreen"></ui-busy-indicator>
            <ui-image-loader image-src="{{url}}" ng-if="!isDocument"></ui-image-loader>
            <div class="text" ng-class="{hidden: !isDocument}">No viewer for that document</div>
        </div>
    </div>
    <div layout="column" layout-grow layout-align="space-between center" class="right-side">
        <ui-toolbar class="header actions" layout="column" layout-align="start start">
            <div class="header-btn" layout="row" layout-stretch layout-align="end start">
                <ui-button id="prev" class="first" ng-click="goPrev()" size="small" ng-show="showNavButton()" ng-disabled="isBtnPrevDisabled">PREVIOUS</ui-button>
                <ui-button id="next" class="last" ng-click="goNext()" size="small" ng-show="showNavButton()" ng-disabled="isBtnNextDisabled">NEXT</ui-button>
                <ui-button id="close" class="close" ng-click="closePreview()" size="small">DONE</ui-button>
            </div>
        </ui-toolbar>
        <div layout="column" layout-grow layout-stretch class="content">
            <div class="docName">
                <h1>{{currentDoc.name}}<small>{{currentDoc.size | fileSize:2}}</small></h1>
            </div>
            <div class="docUser">
                <div class="avatar"><ui-avatar avatar-name="{{currentDoc.createdName}}" avatar-image="{{currentDoc.userAvatar}}" avatar-state="active"></ui-avatar></div>
                <h2>{{currentDoc.createdName}}<small>{{currentDoc.createdAt | date:'dd MMM yyyy hh:mm'}}</small></h2>
            </div>
        </div>
        <div layout="column" class="footer">
            <ui-toolbar layout="row" layout-align="start start">
                <ui-download class="row-icn action-icon icon-cloud-download" project="{{currentDoc.projectId}}" asset="{{currentDoc.id}}"></ui-download>
                <div class="row-icn action-icon icon-trash" ui-dialog-open="delete-document-confirm-preview"></div>
            </ui-toolbar>
        </div> 
    </div>

    <ui-dialog id="delete-document-confirm-preview"
        cancel-text="Cancel"
        close-text="Delete"
        close-action="deleteDoc(currentDoc.id, currentIdx)"
        modal="true">
        <div class="ui-dialog-content">
            <p>Are you sure you want to delete that document?<p/>
        </div>
    </ui-dialog>

</div>
