<ui-toast></ui-toast>
<http-toast></http-toast>
<div id="main" class="main" scroll-threshold threshold="245" has-passed-threshold="isCollapsed">
    <div class="navbar"
         ng-class="{'navbar-collapsed':isCollapsed, 'navbar-hero-project':navbarService.heroProjectFromHome, 'navbar-project':navbarService.heroProjectFromOther, 'navbar-animate':navbarService.animate, 'navbar-hidden':navbarService.hidden, 'navbar-hero':navbarService.isHero}"
         ng-include="'resources/norman-shell-client/navbar/navbar.html'"></div>
    <div class="content" ng-class="{'content-fullscreen':(!navbarService.isHero), 'aside-hidden':asideService.hidden}"
         layout=row>
        <div class='aside' ng-hide="asideService.hidden"
             ng-class="{'aside-hide-animate':(asideService.hideWithAnimation), 'aside-blocked':(!asideService.hidden && isCollapsed), 'aside-show-animate':(asideService.showWithAnimation)}">
            <div class="aside-content" ng-include="'resources/norman-shell-client/aside/aside.html '"></div>
        </div>
        <div class='main-content'
             ng-class="{ 'aside-show-animate':(asideService.showWithAnimation),'aside-hidden':(asideService.hidden && navbarService.isHero) , 'aside-blocked':(!asideService.hidden && isCollapsed) }">
            <ui-content ui-view layout-fill>
                <div class="shell-dashboard" ng-controller="ShellDashboardCtrl">
                    <div ng-repeat="widget in homeDashboardFactory.widgets | orderBy:'priority'" ng-if="loadDashboard">
                        <div ng-include="widget.template"></div>
                    </div>
                </div>
            </ui-content>
        </div>
    </div>
</div>

