<div novalidate id="auth-settings-profile">

    <div layout="row" layout-align="start start">
        <ui-input-container>
            <label class="dark first-label">Name</label>
            <input class="ui-input dark"
                   type="text"
                   name="name"
                   ng-model="getCurrentUser().name"
                    placeholder="Type name"
                   required
                   ng-minlength="3"
                   ng-maxlength="120">
            <div ng-messages="errors.name">{{errors.name}}</div>
            <div ng-messages="forms.general.name.$error">
                <div ng-message="required" ng-if='forms.general.name.$dirty'>This is required!</div>
                <div ng-message="minlength" ng-if='forms.general.name.$dirty'>Name is too short!</div>
                <div ng-message="maxlength" ng-if='forms.general.name.$dirty'>Name is too long!</div>
                <div class="message-txt">Use a display name in which users can identity you.</div>
            </div>
        </ui-input-container>
    </div>

    <div layout="row" layout-align="start start" >
        <ui-input-container>
            <label class="dark">Email</label>
            <input class="ui-input dark"
                   type="email"
                   name="email"
                   ng-model="getCurrentUser().email"
                   placeholder="Type email"
                   additional-email-validation
                   ng-readonly="getCurrentUser().provider !== 'local'"
                   required>
            <div ng-messages="forms.general.email.$error" ng-if="getCurrentUser().provider === 'local'">
                <div ng-message="required" ng-if='forms.general.email.$dirty'>This is required!</div>
                <div ng-message="email">This is not a valid email!</div>
                <div ng-message="additionalEmailValidationFailed">This is not a valid email!</div>
                <div>
                    <div class="message-txt" ng-show="!getCurrentUser().has_email_verified">Your email is not verified.</div>
                    <div class="message-txt last" ng-show="!getCurrentUser().has_email_verified">
                       <span class="resend-email-link" ng-click="resendVerificationEmail()">Resend </span> verification email.
                    </div>
                </div>
            </div>
        </ui-input-container>
        <div class="verified-email-icon">
            <img ng-show="getCurrentUser().has_email_verified" src="resources/norman-auth-client/assets/ico-check-oval.svg">
        </div>
    </div>
</div>

