{
    "env": {
        "browser": true
    },
    "globals": {
        "require": true,
        "angular": true,
        "describe": true,
        "it": true,
        "beforeEach": true,
        "chai": true,
        "inject": true,
        "afterEach": true,
        "before": true,
        "__dirname": true,
        "module": true
    },
    "rules": {
    }
}
