@import (reference) '../node_modules/norman-client-tp/node_modules/angular-sap-ui-elements/styles/base';

.sdEditorTabstrip {
  min-height: 650px;
  width: 100%;
}

.sdEditorTabstrip.ui-tabs.dark .ui-tab-option > span {
  font-size: 14px;
  color: inherit;
}

.sd-editor-dialog.ui-dialog {
  width: 90%
}

.sdEditorGrid.ui-grid {
  width: 97.8%;
  height: 540px;
  color: @PickledBluewood-900;
  display: inline-flex;
  margin: 10px 0 0 17px;
  border: none;
}

.sdEditorGrid .ui-grid-column-menu-button {
  height: 100%;
}

.sdEditorGrid .ui-grid-column-menu-button .ui-grid-icon-angle-down {
  vertical-align: middle;
}

.sdEditorGrid .ui-grid-cell-contents {
  padding: 0 0 0 5px;
}

.sdEditorGrid .ui-grid-header-canvas {
  text-align: center;
}

.sdEditorGrid .ui-grid-header {
  border-bottom: 0;
  border-left: solid 1px @Black;
}

.sdEditorGrid .ui-grid-header-cell {
  width: 100%;
  min-width: 28px;
  background: @SilverSand-500;
  height: auto !important;
  border: solid 1px @Black;
  border-left: 0;
}

.sdEditorGrid .ui-grid-header-cell:nth-child(1) {
  width: 28px;
}

.sdEditorGrid .ui-grid-header-cell:last-child {
  border-right: 0;
}

.sdEditorGrid .ui-grid-cell {
  width: 100%;
  border: solid 1px @Black;
  border-right: 0;
  border-top: 0;
}

.sdEditorGrid .ui-grid-row {
  display: flex;
}

.sdEditorGrid .ui-grid-viewport {
  min-height: 0;
}

.sdEditorGrid .ui-grid-render-container-body {
  width: 100%;
}

.sdEditorGrid .ui-grid-header-canvas {
  display: flex;
  background: @SilverSand-500;
}

.sdEditorGrid .ui-grid-cell {
  min-width: 30px;
}

.sdEditorGrid input[type="text"].ui-grid-filter-input {
  width: 85%;
  display: flex;
  height: 16px;
  border: 1px solid @SilverSand-900;
  border-radius: 3px;
  padding: 2px;
}

.sdEditorGrid input[type="text"].ui-grid-filter-input:hover {
  border: 1px solid @SilverSand-900;
}

.sdEditorGrid .ui-grid-filter-container {
  width: 100%;
}

.sdEditorGrid .ui-grid-filter-button {
  width: 100%;
}

.sdEditorGrid .ui-grid-top-panel {
  overflow: visible;
}

.sd-foreign-key-class.ui-grid-header-cell {
  background: @Green;
  color: @White;
}

.sd-foreign-key-class .ui-grid-icon-cancel {
  color: @PickledBluewood-900;
}

.sdEditorGrid .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
  right: 15%;
}

.sd-header-selected {
  background: @CuriousBlue-500;
}

.sdEditorGrid .columnLabel {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  padding-left: 5px;
  overflow: hidden;
}

.sdGridWrapper {
  height: 620px;
  overflow: hidden;
}

.sdm-tab-error {
  background-color: @Cinnabar-500;
}

/**Editable Cell template start**/
.sd-editor-cell-wrapper {
  height: 100%;
  width: 100%;
}

/**Editable Cell template End**/

/**Cell template start**/
.sdEditorHeaderCellWrapper {
  height: 100%;
  width: 100%;
  span {
    padding-left: 5px;
  }
}

.sdm-invalid-cell {
  border: 1px solid @Cinnabar-300;
  box-shadow: inset 0px 0px 3px 1px @Cinnabar-300;
  height: 28px;
  background-color: @White;
}

.sd-cell-template {
  display: inline-block;
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**Cell template End**/

/**column header start**/
.sd-element-flex {
  display: flex;
}

.sd-element-hidden {
  display: none;
}

/**column header end**/

/**corner template start**/
.sd-plus-button.ui-button {
  width: 28px;
  height: 30px;
  border-radius: 0;
  background: @SilverSand-500;
}

.sd-plus-button > span {
  color: @PickledBluewood-900;
}

/**corner template end**/

/**row template start**/
.sd-row-header-btn.ui-button {
  width: 30px;
  height: 30px;
  border-radius: 0;
  background: @SilverSand-500;
  padding: 0;
  line-height: 30px;
}

.sd-row-header-btn.ui-button.sd-row-header-btn-selected {
  background: @CuriousBlue-500;
}

.sd-row-header-btn > span {
  color: @PickledBluewood-900;
}

.sd-header-popover {
  background: @White;
  width: 150px;
  left: 30px;
  position: absolute;
  box-shadow: 0 0 10px @SilverSand-900;
  visibility: hidden;
}

.sd-row-pointer-diamond {
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
  position: absolute;
  top: 10%;
  left: -2%;
  background-color: @White;
}

.sd-row-header-ul > li {
  background: @White;
  border-bottom: 1px solid @Porcelain-500;
  padding: 0px 5px 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

.sd-row-header-wrapper {
  display: flex;
}

.sd-row-header-wrapper .ui-grid-cell-focus {
  background-color: @White;
}

/**row template end**/
