<div class="navbar navbar-default navbar-static-top" ng-controller="WelcomeNavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img   class="navbar-brand" src="node_modules/norman-common-client/assets/logo.png">
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/signup">Help &amp; Support</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
                <li ng-show="isLoggedIn()" ng-class="active" ><a ui-sref="shell">Home</a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
