<div ng-controller="FormulaEditorController as formulaEditorController">
    <ui-dialog modal="true" dark id="formulaEditorModal" placement="left" offset-x="-210" offset-y="211"
               class="dark dm-propertyEditor" style="width: 1000px;" cancel-text="Cancel"
               close-action="controller.saveFormula();" cancel-action="controller.cancelFormula();" close-text="OK"
               ng-click="$event.stopPropagation()">
        <div class="dmfe-formulaEditor">

            <script type="text/ng-template" id="value_previewer.html">
                "{{ data.value }}"
            </script>

            <script type="text/ng-template" id="property_previewer.html">
                <span ng-show="data.navPropOp && data.navPropMultiplicity">
                    <span ng-bind="controller.getOpLabel(data.navPropOp)"></span> (
                </span>
                {{ data.navPropName }}
                <span ng-show="data.navPropName.length">.</span>{{ data.propertyName }}
                <span ng-show="data.navPropOp && data.navPropMultiplicity"> )</span>
            </script>

            <script type="text/ng-template" id="condition_previewer.html">
                {{ data.label }}
                <span ng-repeat="data in data.condition"
                      ng-include="formulaEditorController.getPreview(data.type)"></span>
                THEN
                <span ng-repeat="data in data.then" ng-include="formulaEditorController.getPreview(data.type)"></span>
                ELSE
                <span ng-repeat="data in data.else" ng-include="formulaEditorController.getPreview(data.type)"></span>
            </script>

            <script type="text/ng-template" id="operator_previewer.html">
                (
                <span ng-repeat="data in data.left" ng-include="formulaEditorController.getPreview(data.type)"></span>
                {{ data.label }}
                <span ng-repeat="data in data.right" ng-include="formulaEditorController.getPreview(data.type)"></span>
                )
            </script>

            <script type="text/ng-template" id="value_renderer.html">
                <div class="dmfe-inlineElement dmfe-valueDiv"
                     ng-class="{'dmfe-grabbedElement': formulaEditorController.grabbedClass(data.id.toString())}"
                     ng-draggable ng-droppable data-container="" data-added="{{ $index }}" data-element="setElement"
                     data-eid="{{ data.id }}">
                    <div class="dmfe-dropZone" id="dmfe-dropValue{{ data.id }}"
                         ng-style="{'width': formulaEditorController.dropZoneWidth}">
                    </div>
                    <ui-input class="dmfe-elementInput" dark ng-model="data.value"
                              ng-blur="formulaEditorController.doneEditing(data.id)" id="valueInput{{ data.id }}"
                              ng-keyup="formulaEditorController.blurElement($event)">
                    </ui-input>
                    <div class="dmfe-grabDiv dmfe-valueGrabDiv" id="grabDiv{{ data.id }}"
                         ng-click="formulaEditorController.editElement(data.id, 'value');">
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="property_renderer.html">
                <div class="dmfe-inlineElement dmfe-propertyDiv"
                     ng-class="{'dmfe-grabbedElement': formulaEditorController.grabbedClass(data.id.toString())}"
                     ng-draggable ng-droppable data-container="" data-added="{{ $index }}" data-element="setElement"
                     data-eid="{{ data.id }}" style="white-space: nowrap;">
                    <div class="dmfe-dropZone" id="dmfe-dropProperty{{ data.id }}"
                         ng-style="{'width': formulaEditorController.dropZoneWidth}">
                    </div>
                    <div class="dmfe-inlineElement dmfe-elementInput">
                        <ui-input dark disabled="disabled" placeholder="No properties"
                                  style="text-align: center; cursor: default!important;"
                                  ng-hide="formulaEditorController.entities.length">
                        </ui-input>
                        <span ng-show="formulaEditorController.entities.length">
                            <ui-select dark ng-model="data.navPropOp" ng-show="data.navPropMultiplicity"
                                       id="selectPropOp{{ data.id }}"
                                       ng-blur="formulaEditorController.doneEditing(data.id)">
                                <option ng-repeat="operator in formulaEditorController.nOperators track by $index"
                                        value="{{ operator.name }}" ng-selected="data.navPropOp === operator.name">
                                    {{ operator.label }}
                                </option>
                            </ui-select>
                            <ui-select dark ng-init="data.navPropId = data.navPropId || ''" ng-model="data.navPropId"
                                       ng-change="formulaEditorController.setProperty(data.id)"
                                       id="selectNavProp{{ data.id }}"
                                       ng-blur="formulaEditorController.doneEditing(data.id)">
                                <option ng-repeat="entity in formulaEditorController.entities track by $index"
                                        value="{{ entity.navPropId }}"
                                        ng-selected="data.navPropId === entity.navPropId">{{ entity.navPropName }}
                                </option>
                            </ui-select>
                            <ui-select dark ng-init="data.propertyId = data.propertyId || ''" ng-model="data.propertyId"
                                       ng-change="formulaEditorController.setProperty(data.id)"
                                       id="selectProp{{ data.id }}"
                                       ng-blur="formulaEditorController.doneEditing(data.id)">
                                <option ng-repeat="property in formulaEditorController.getProperties(data.entityId)"
                                        value="{{ property._id }}" ng-selected="data.propertyId === property._id">{{
                                    property.name }}
                                </option>
                            </ui-select>
                        </span>
                    </div>
                    <div class="dmfe-grabDiv" id="grabDiv{{ data.id }}"
                         ng-click="formulaEditorController.editElement(data.id, 'select');"></div>
                </div>
            </script>

            <script type="text/ng-template" id="condition_renderer.html">
                <div class="dmfe-condition"
                     ng-class="{'dmfe-grabbedElement': formulaEditorController.grabbedClass(data.id.toString())}"
                     ng-draggable data-element="setElement" data-eid="{{ data.id }}">
                    <ui-accordion allow-multiple>
                        <ui-accordion-pane>
                            <ui-accordion-pane-header ng-droppable class="dmfe-conditionHeader"
                                                      data-eid="{{ data.id }}">
                                <h5>
                                    {{ data.label }}
                                    <span class="dmfe-formulaPreview">
                                        <span ng-repeat="data in data.condition"
                                                ng-include="formulaEditorController.getPreview(data.type)">
                                        </span>
                                    </span>
                                </h5>
                            </ui-accordion-pane-header>
                            <ui-accordion-pane-content>
                                <div class="dmfe-conditionContainer dmfe-addElement dmfe-if" ng-droppable
                                     data-eid="{{ data.id }}" data-container="condition" data-added="after">
                                    <div class="dmfe-repeatedDiv" ng-repeat="data in data.condition"
                                         ng-include="formulaEditorController.getTemplate(data.type)"
                                         ng-class="formulaEditorController.widthClass(data.type, [data])"></div>
                                    <div class="dmfe-dropZone" id="dmfe-dropIf{{ data.id }}"
                                         ng-style="{'width': formulaEditorController.dropZoneWidth}"></div>
                                    <div class="dmfe-clearer"></div>
                                </div>
                            </ui-accordion-pane-content>
                        </ui-accordion-pane>
                        <ui-accordion-pane>
                            <ui-accordion-pane-header ng-droppable class="dmfe-conditionHeader"
                                                      data-eid="{{ data.id }}">
                                <h5>
                                    THEN
                                    <span class="dmfe-formulaPreview">
                                        <span ng-repeat="data in data.then"
                                              ng-include="formulaEditorController.getPreview(data.type)">
                                        </span>
                                    </span>
                                </h5>
                            </ui-accordion-pane-header>
                            <ui-accordion-pane-content>
                                <div class="dmfe-conditionContainer dmfe-addElement dmfe-then" ng-droppable
                                     data-eid="{{ data.id }}" data-container="then" data-added="after">
                                    <div class="dmfe-repeatedDiv" ng-repeat="data in data.then"
                                         ng-include="formulaEditorController.getTemplate(data.type)"
                                         ng-class="formulaEditorController.widthClass(data.type, [data])"></div>
                                    <div class="dmfe-dropZone" id="dmfe-dropThen{{ data.id }}"
                                         ng-style="{'width': formulaEditorController.dropZoneWidth}"></div>
                                    <div class="dmfe-clearer"></div>
                                </div>
                            </ui-accordion-pane-content>
                        </ui-accordion-pane>
                        <ui-accordion-pane>
                            <ui-accordion-pane-header ng-droppable class="dmfe-conditionHeader"
                                                      data-eid="{{ data.id }}">
                                <h5>ELSE <span class="dmfe-formulaPreview"><span ng-repeat="data in data.else"
                                                                                 ng-include="formulaEditorController.getPreview(data.type)"></span></span>
                                </h5>
                            </ui-accordion-pane-header>
                            <ui-accordion-pane-content>
                                <div class="dmfe-conditionContainer dmfe-else dmfe-addElement" ng-droppable
                                     data-eid="{{ data.id }}" data-container="else" data-added="after">
                                    <div class="dmfe-repeatedDiv" ng-repeat="data in data.else"
                                         ng-include="formulaEditorController.getTemplate(data.type)"
                                         ng-class="formulaEditorController.widthClass(data.type, [data])"></div>
                                    <div class="dmfe-dropZone" id="dmfe-dropElse{{ data.id }}"
                                         ng-style="{'width': formulaEditorController.dropZoneWidth}"></div>
                                    <div class="dmfe-clearer"></div>
                                </div>
                            </ui-accordion-pane-content>
                        </ui-accordion-pane>
                    </ui-accordion>
                </div>
            </script>

            <script type="text/ng-template" id="operator_renderer.html">
                <div class="dmfe-operandInline dmfe-operatorLeft" ng-show="data.hasOwnProperty('left')"
                     ng-mouseover="data.hasOwnProperty('left')?formulaEditorController.showDeleteButton(data, $event, 'left'):false"
                     ng-class="{'dmfe-operatorSubElement dmfe-operand': data.hasOwnProperty('left') && formulaEditorController.containsOtherOperators(data.right.concat(data.left)), 'dmfe-twoLevels': data.hasOwnProperty('left') && formulaEditorController.numberOfLevels(data.left) == 2, 'dmfe-threeLevels': data.hasOwnProperty('left') && formulaEditorController.numberOfLevels(data.left) == 3, 'dmfe-fourOrMoreLevels': data.hasOwnProperty('left') && formulaEditorController.numberOfLevels(data.left) >= 4}"
                     ng-droppable data-container="left" data-added="after" data-eid="{{ data.id }}">
                    <div class="dmfe-delete dmsvg-remove15x15"
                         ng-click="data.hasOwnProperty('left')?formulaEditorController.removeLine(data.left):false"
                         ng-show="data.hasOwnProperty('left') && formulaEditorController.containsOtherOperators(data.right.concat(data.left)) && data.left.length > 0 && data.id + 'left' === formulaEditorController.overBracket"></div>
                    <div class="dmfe-repeatedDiv" ng-repeat="data in data.left"
                         ng-include="formulaEditorController.getTemplate(data.type)"
                         ng-class="formulaEditorController.widthClass(data.type, [data])"></div>
                    <div class="dmfe-dropZone" id="dmfe-dropLeft{{ data.id }}"
                         ng-style="{'width': formulaEditorController.dropZoneWidth}"></div>
                    <div class="dmfe-endOfOperand"></div>
                </div>

                <div class="dmfe-inlineElement dmfe-operatorHandle dmfe-elementInput dmfe-operatorSelect"
                     ng-class="{'dmfe-grabbedElement': formulaEditorController.grabbedClass(data.id.toString()), 'dmfe-operatorSubElement': formulaEditorController.containsOtherOperators(data.right.concat(data.left))}"
                     ng-draggable data-element="setElement" data-eid="{{ data.id }}" ng-droppable data-container="left"
                     data-added="after">
                    <div class="dmfe-operatorDropWrapper">
                        <ui-select dark ng-model="data.name" ng-change="formulaEditorController.setOperator(data.id)"
                                   id="selectOpOp{{ data.id }}" ng-blur="formulaEditorController.doneEditing(data.id)">
                            <option ng-repeat="op in formulaEditorController.operators"
                                    ng-selected="op.name===data.name" value="{{ op.name }}">{{ op.label }}
                            </option>
                        </ui-select>
                        <div class="dmfe-grabDiv" id="grabDiv{{ data.id }}"
                             ng-click="formulaEditorController.editElement(data.id, 'select');"></div>
                    </div>
                </div>

                <div class="dmfe-operandInline"
                     ng-mouseover="formulaEditorController.showDeleteButton(data, $event, 'right')"
                     ng-class="{'dmfe-operatorSubElement dmfe-operand': formulaEditorController.containsOtherOperators(data.right.concat(data.left)), 'dmfe-twoLevels': formulaEditorController.numberOfLevels(data.right) == 2, 'dmfe-threeLevels': formulaEditorController.numberOfLevels(data.right) == 3, 'dmfe-fourOrMoreLevels': formulaEditorController.numberOfLevels(data.right) >= 4}"
                     ng-droppable data-container="right" data-added="after" data-eid="{{ data.id }}">

                    <div class="dmfe-delete dmsvg-remove15x15"
                         ng-click="formulaEditorController.removeLine(data.right)"
                         ng-show="formulaEditorController.containsOtherOperators(data.right.concat(data.left)) && data.right.length > 0 && data.id + 'right' === formulaEditorController.overBracket"></div>

                    <div class="dmfe-repeatedDiv" ng-repeat="data in data.right"
                         ng-include="formulaEditorController.getTemplate(data.type)"
                         ng-class="formulaEditorController.widthClass(data.type, [data])"></div>
                    <div class="dmfe-dropZone" id="dmfe-dropRight{{ data.id }}"
                         ng-style="{'width': formulaEditorController.dropZoneWidth}"></div>
                    <div class="dmfe-endOfOperand"></div>
                </div>
            </script>
            <div style="padding: 0 10px; height: 600px;">
                <h5>FORMULA EDITOR</h5>

                <div id="dmfe-formulaElementsToolbar">
                    <div ng-draggable class="dmfe-elementButton" data-element="property">
                        <div class="dmfe-elementButton-img dmsvg-grip"></div>
                        <div class="dmfe-elementButton-label">Property</div>
                    </div>
                    <div ng-draggable class="dmfe-elementButton" data-element="value">
                        <div class="dmfe-elementButton-img dmsvg-grip"></div>
                        <div class="dmfe-elementButton-label">Value</div>
                    </div>
                    <div ng-draggable class="dmfe-elementButton" data-element="operator">
                        <div class="dmfe-elementButton-img dmsvg-grip"></div>
                        <div class="dmfe-elementButton-label">Operator</div>
                    </div>
                    <div ng-draggable class="dmfe-elementButton" data-element="condition">
                        <div class="dmfe-elementButton-img dmsvg-grip"></div>
                        <div class="dmfe-elementButton-label">Condition</div>
                    </div>
                    <div class="dmfe-endOfTools"></div>
                    <div class="dmfe-rubbish"
                         ng-show="formulaEditorController.deleteElement && formulaEditorController.deletableElement">
                        <div class="dm-white_bin dmsvg-white_bin"></div>
                        Remove
                    </div>
                </div>
                <div class="formulaContainer dmfe-addElement" ng-hide="!formulaEditorController.formula.length"
                     ng-droppable data-eid="-1" data-container="" data-added="after">
                    <div class="dmfe-repeatedDiv" ng-repeat="data in formulaEditorController.formula"
                         ng-include="formulaEditorController.getTemplate(data.type)"
                         ng-class="formulaEditorController.widthClass(data.type, [data])"></div>
                    <div class="dmfe-dropZone" id="dmfe-dropLast"
                         ng-style="{'width': formulaEditorController.dropZoneWidth}"></div>
                </div>
                <div ng-show="!formulaEditorController.formula.length"
                     class="dmfe-droppableDiv dmfe-emptyContainer dmfe-emptyFormula" data-container="" data-eid="-1"
                     ng-droppable data-added="">
                    Drop <span>Property</span>, <span>Value</span>, <span>Operator</span>,<br/> and
                    <span>Condition</span> here
                </div>
            </div>
        </div>
    </ui-dialog>
</div>
