"use strict";

jQuery.sap.declare("generated.app.Component");
jQuery.sap.require("sap.ui.core.routing.Router");
jQuery.sap.require("sap.m.App");
try {
    // to be refactored after SharedWorkspace refactoring
    jQuery.sap.require("generated.app.models.formulaCalculation");
}
catch (e) {
}

sap.ui.core.UIComponent.extend("generated.app.Component", {
    metadata: {
        routing: {
            config: {
                viewType: "XML",
                viewPath: "generated.app.view",
                targetControl: "App",
                clearTarget: false,
                targetAggregation: "pages"
            },
            routes: [
                { pattern: "SimplePage/:context:",name: "SimplePage", view: "SimplePage"},
                { pattern: "PageWithChildren/:context:",name: "PageWithChildren", view: "PageWithChildren"},
                { pattern: "PageWithAsset/:context:",name: "PageWithAsset", view: "PageWithAsset"},
                { pattern: "SimplePage",name: "SimplePage", view: "SimplePage"},
                { pattern: "PageWithChildren",name: "PageWithChildren", view: "PageWithChildren"},
                { pattern: "PageWithAsset",name: "PageWithAsset", view: "PageWithAsset"},
                { pattern: "",name: "default", view: "SimplePage"}
            ]
        }
    },

    createContent: function () {
        var app = new sap.m.App({id : "App"});

        if ("App" === "App") {
            app.setBackgroundColor("#FFFFFF");
        }

        return app;
    },

    init: function () {
        jQuery.sap.require("sap.m.routing.RouteMatchedHandler");
        sap.ui.core.UIComponent.prototype.init.apply(this, arguments);

        // set device model
        var deviceModel = new sap.ui.model.json.JSONModel({
            isTouch: sap.ui.Device.support.touch,
            isNoTouch: !sap.ui.Device.support.touch,
            isPhone: sap.ui.Device.system.phone,
            isNoPhone: !sap.ui.Device.system.phone,
            listMode: sap.ui.Device.system.phone ? "None" : "SingleSelectMaster",
            listItemType: sap.ui.Device.system.phone ? "Active" : "Inactive"
        });
        deviceModel.setDefaultBindingMode("OneWay");
        this.setModel(deviceModel, "device");

        //////////
        jQuery.sap.require("sap.ui.model.odata.ODataModel");
        jQuery.sap.require("sap.ui.app.MockServer");
        var uri = window.location.pathname.substring(0, window.location.pathname.lastIndexOf("/")) + "/models/";
        var oMockServer = new sap.ui.app.MockServer({rootUri: uri});
        oMockServer.simulate(uri + "metadata.xml", uri);
        if (typeof formulaCalculation !== "undefined") {
            formulaCalculation.patchMockServer(oMockServer);
        }
        oMockServer.start();
        var oModel = new sap.ui.model.odata.ODataModel(uri, true);
        oModel.setCountSupported(false);
        oModel.setDefaultBindingMode(sap.ui.model.BindingMode.TwoWay);
        this.setModel(oModel);
        //////////

        var router = this.getRouter();
        this.routeHandler = new sap.m.routing.RouteMatchedHandler(router);
        router.initialize();

    }
});
