{
    "env": {
        "node": true,
    },
    "rules": {
        "no-alert": 1,
        "no-array-constructor": 1,
        "no-bitwise": 0,
        "no-caller": 1,
        "no-catch-shadow": 1,
        "no-comma-dangle": 1,
        "no-cond-assign": 1,
        "no-console": 0,
        "no-constant-condition": 1,
        "no-control-regex": 1,
        "no-debugger": 1,
        "no-delete-var": 1,
        "no-div-regex": 0,
        "no-dupe-keys": 1,
        "no-else-return": 0,
        "no-empty": 1,
        "no-empty-class": 1,
        "no-empty-label": 1,
        "no-eq-null": 0,
        "no-eval": 1,
        "no-ex-assign": 1,
        "no-extend-native": 1,
        "no-extra-bind": 1,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": 0,
        "no-extra-semi": 1,
        "no-extra-strict": 1,
        "no-fallthrough": 1,
        "no-floating-decimal": 0,
        "no-func-assign": 1,
        "no-implied-eval": 1,
        "no-inline-comments": 0,
        "no-inner-declarations": [1, "functions"],
        "no-invalid-regexp": 1,
        "no-irregular-whitespace": 0,
        "no-iterator": 1,
        "no-label-var": 1,
        "no-labels": 1,
        "no-lone-blocks": 1,
        "no-lonely-if": 0,
        "no-loop-func": 1,
        "no-mixed-requires": [0, false],
        "no-mixed-spaces-and-tabs": [0, false],
        "no-multi-spaces": 1,
        "no-multi-str": 1,
        "no-multiple-empty-lines": [0, {"max": 1}],
        "no-native-reassign": 1,
        "no-negated-in-lhs": 1,
        "no-nested-ternary": 0,
        "no-new": 1,
        "no-new-func": 1,
        "no-new-object": 1,
        "no-new-require": 0,
        "no-new-wrappers": 1,
        "no-obj-calls": 1,
        "no-octal": 1,
        "no-octal-escape": 1,
        "no-path-concat": 0,
        "no-plusplus": 0,
        "no-process-env": 0,
        "no-process-exit": 1,
        "no-proto": 1,
        "no-redeclare": 1,
        "no-regex-spaces": 1,
        "no-reserved-keys": 0,
        "no-restricted-modules": 0,
        "no-return-assign": 1,
        "no-script-url": 1,
        "no-self-compare": 0,
        "no-sequences": 1,
        "no-shadow": 1,
        "no-shadow-restricted-names": 1,
        "no-space-before-semi": 1,
        "no-spaced-func": 1,
        "no-sparse-arrays": 1,
        "no-sync": 0,
        "no-ternary": 0,
        "no-trailing-spaces": 1,
        "no-undef": 1,
        "no-undef-init": 1,
        "no-undefined": 0,
        "no-underscore-dangle": 0,
        "no-unreachable": 1,
        "no-unused-expressions": 1,
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
        "no-use-before-define": 1,
        "no-void": 0,
        "no-warning-comments": [0, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "no-with": 1,
        "no-wrap-func": 1,
        "block-scoped-var": 0,
        "brace-style": [0, "1tbs"],
        "camelcase": 0,
        "comma-spacing": 1,
        "comma-style": 0,
        "complexity": [0, 11],
        "consistent-return": 1,
        "consistent-this": [0, "that"],
        "curly": 0,
        "default-case": 0,
        "dot-notation": 1,
        "eol-last": 1,
        "eqeqeq": 1,
        "func-names": 0,
        "func-style": [0, "declaration"],
        "global-strict": 0,
        "guard-for-in": 0,
        "handle-callback-err": 0,
        "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
        "max-depth": [0, 4],
        "max-len": [0, 80, 4],
        "max-nested-callbacks": [0, 1],
        "max-params": [0, 3],
        "max-statements": [0, 10],
        "new-cap": 1,
        "new-parens": 1,
        "one-var": 0,
        "operator-assignment": [0, "always"],
        "padded-blocks": 0,
        "quote-props": 0,
        "quotes": [1, "single"],
        "radix": 0,
        "semi": 1,
        "sort-vars": 0,
        "space-after-function-name": [0, "never"],
        "space-after-keywords": [0, "always"],
        "space-before-blocks": [0, "always"],
        "space-in-brackets": [0, "never"],
        "space-in-parens": [0, "never"],
        "space-infix-ops": 1,
        "space-return-throw-case": 1,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-line-comment": [0, "always"],
        "strict": 1,
        "use-isnan": 1,
        "valid-jsdoc": 0,
        "valid-typeof": 1,
        "vars-on-top": 0,
        "wrap-iife": 0,
        "wrap-regex": 0,
        "yoda": [1, "never"]
    }
}
