<div ng-controller="TeamCtrl as team" layout="column" class="animated fadeIn" layout-fill id="project-team">

    <!-- Team members //-->
    <div layout="row" class="team-header">
        <div class="team-title">
            <h1>Project Team</h1>
        </div>
        <div class="team-new-button">
            <ui-button size="large" ng-click="team.handleOpenPopover()" ui-dialog-open="addTeamMemberPopup"
                       class="team-add-people-button" style="float: right;">ADD PEOPLE
            </ui-button>
        </div>
    </div>
    <div layout="row" class="team-subtitle" ng-show="team.userList.length > 0">
        <h1>
            <small>
                <span class="team-number" ng-bind="team.userList.length"></span>
                <ng-pluralize count="team.userList.length" when="{'one': ' person total', 'other': ' people total'}"></ng-pluralize>
            </small>
        </h1>
    </div>

    <!-- PopOver for adding invite //-->
    <div layout="row">
        <ui-dialog id="addTeamMemberPopup" modal="true" class="team-invite-popover" title="ADD PEOPLE"
                   cancel-text="Cancel" cancel-action="team.cancelInvites()" close-text="INVITE"
                   close-action="team.sendInvites()">
            <div layout="column" style="padding: 20px;">
                <div layout="row" class="add-team-member-popup-text">Enter an email address and click the ADD button for
                    each person you want to invite to your project, and an invitational email will be sent to them. If
                    they have informed the Build team that they do not want email notifications, they will be invited
                    via their Build Home page.
                </div>

                <form name="userEmailForm" layout="row" layout="row" layout-align="space-between start">
                    <ui-input-container style="width: 340px;">
                        <label class="dark">EMAIL ADDRESS:</label>
                        <input class="ui-input dark"
                               type="email"
                               ng-pattern="/^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?/"
                               name="newUserEmail"
                               nn-enter="team.addEmailToInviteList(team.newUserEmail.toLowerCase())" nn-focus="{{team.popoverIsOpen}}"
                               ng-model="team.newUserEmail"
                               placeholder="email address"
                               maxlength="254">

                        <div ng-messages="userEmailForm.newUserEmail.$error" ng-if='userEmailForm.newUserEmail.$dirty'>
                            <div ng-message="email">This is not a valid email address!</div>
                            <div ng-message="pattern">This is not a valid email address!</div>
                        </div>
                    </ui-input-container>
                    <div style="padding-top: 35px;">
                        <ui-button size="small" ng-click="team.addEmailToInviteList(team.newUserEmail.toLowerCase())"
                                   class="team-invite-popover-add-button">ADD
                        </ui-button>
                    </div>
                </form>

                <div class="team-invite-popover-subheader team-invitee-subheader" ng-if="team.addUserInviteList.length > 0">LIST OF INVITEES:</div>
                <div class="invitee-list" ng-if="team.addUserInviteList.length > 0">
                    <div class="invitee-mail" ng-repeat="invitee in team.addUserInviteList.slice().reverse()">
                        <div ng-click="team.removeInvite($index)" class="team-remove-email-icon"></div>
                        <div ng-bind="invitee.email" class="team-added-email" title="{{invitee.email}}"></div>
                    </div>
                </div>
            </div>
        </ui-dialog>

        <ui-dialog id="npTeamOwnerChangeDialog" modal="true" cancel-text="Cancel" close-text="Confirm"
                   close-action="team.confirmOwner(team.newOwnerUser._id)"
                   content="{{'Are you sure you want to transfer ownership to '+team.newOwnerUser.name +'?' }} ">
        </ui-dialog>
    </div>

    <div layout="column" class="team-list">
        <div layout="row" layout-align="start start" class="animated fadeIn team-list" ng-if="team.userList.length > 0">
            <div ng-class="{teamShowAll: team.showAllTeamMembers}"
                 drag=".np-d-tile-user" drag-on-sort="dashboard.invitesSort(evt)"
                 drag-filter="[ui-draggable]"
                 class="team-team-members"
                 more-less
                 num-of-hidden="team.numOfHidden"
                 id="team-team-members">
                <user-tile ng-repeat="user in team.userList | orderBy: [team.isCurrentUser, team.isOwner, 'name']" class="user-tile" user="user"
                           is-current-user="user._id === team.user._id"
                           set-as-owner="team.setOwner(user)"
                           ng-class="{cantInteract: !team.isOwner(team.user)}">
                </user-tile>
            </div>
        </div>
        <div ng-show="team.userList.length > 0 && team.numOfHidden > 0" layout="row">
            <div class="team-all-link" ng-class="team.showAllTeamMembers ? 'team-all-link-less' : 'team-all-link-more'"
                 ng-click="team.showAllTeamMembers = !showAllTeamMembers">&nbsp;</div>
            <a class="team-all-link" href="" ng-click="team.showAllTeamMembers = !team.showAllTeamMembers"
               ng-bind="(team.showAllTeamMembers == true ? 'Hide '+team.numOfHidden : 'Show '+team.numOfHidden)+(team.numOfHidden > 1 ? ' more members' : ' more study')"></a>
        </div>
    </div>

    <div layout="row" ng-if="team.pendingInviteList.length > 0">
        <div flex="1" flex-sm="1" style="margin: 20px 0;">
            <div>
                <h1>Pending invitations</h1>
            </div>
        </div>
    </div>
    <div layout="row" ng-if="team.pendingInviteList.length > 0" ng-repeat="user in team.pendingInviteList"
         class="team-user-pending-item">
        <div ng-bind="user.email"></div>
    </div>

</div>
