<div class="shell-admin" ng-controller="AdminAuditCtrl">
    <div layout="column" class="animated fadeIn" layout-fill id="admin-audit">
        <h1>Audit Log<small>Select a Date range and click on Download:</small></h1>
        <div layout="row" class="np-p-separator"></div>
        <div layout="row">

            <ui-radio ng-model="timeperiod.selected" value="today" id="RBToday" ng-change="setToday()"></ui-radio>
            <label for="RBToday" class="rb-label">Last 24 hours</label>

            <ui-radio ng-model="timeperiod.selected" value="last48" id="RBYesterday" ng-change="setLast48()"></ui-radio>
            <label for="RBYesterday" class="rb-label">Last 48 Hours</label>

            <ui-radio ng-model="timeperiod.selected" value="days" id="RBDays" ngChange="setToday" ng-change="setDays()"></ui-radio>
            <label for="RBDays" class="rb-label">Last 10 Days</label>

            <ui-radio ng-model="timeperiod.selected" value="custom" id="RBCustom" ngChange="setToday" ng-change="setCustom()"></ui-radio>
            <label id="RBCustomLabel" for="RBCustom" class="rb-label">Custom</label>

        </div>

        <div layout="row">&nbsp;</div>

        <div layout="row">
            <ui-input-container class="input-date">
                <label>START:</label>
                <ui-input id="InputStartDate" ng-disabled="dateControls.disabled" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="timeperiod.start" ng-click="startDateChanged()"></ui-input>
            </ui-input-container>

            <ui-input-container class="input-date">
                <label>END:</label>
                <ui-input id="InputEndDate" ng-disabled="dateControls.disabled" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="timeperiod.end" ng-click="endDateChanged()"></ui-input>
            </ui-input-container>

            <ui-button id="ButtonDownload" size="small" ng-click="download()">Download</ui-button>
        </div>

        <div layout="row" ng-show="warningInfo.visible">
            <div class="info">{{warningInfo.message}}</div>
        </div>

    </div>
</div>
