html, body, .app {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.heading {
    margin-top: 30px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    color: #2C3E50;
    line-height: 32px;
    padding-left: 20px;
    clear: left;
}
.title {
    margin: 20px 0 0 0;
}
.item-name, .item-options {
    padding-top: 30px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #2C3E50;
    line-height: 24px;
    padding-bottom: 20px;
    clear: left;
}
.item-options {
    padding-left: 0;
}
.item {
    padding: 0 20px;
    min-height: 48px;
}
.extra-height-item {
    height: 340px;
}
.item.dark {
    background-color: #2c3e50;
    padding: 20px;
    margin-left: 20px;
}
.code {
    float: left;
    padding-left: 30px;
    overflow: auto;
}
.pre {
    background-color: #FFFCDA;
    border: 0;
}
.code {
    font-family: DroidSansMono;
    font-size: 13px;
    color: #2C3E50;
    line-height: 18px;
    float: left;
    text-align: left;
    background-color: #FFFCDA;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    -webkit-box-shadow: none;
    box-shadow: none
}
h1 {
    padding: 10px;
}
.left-nav-title {
    background-color: #2c3e50;
}
.left-nav-content {
    background-color: #43596f;
    padding-bottom: 20px;
}
.left-nav-content a:active > div {
    background-color: #2c3e50;
}
.menu-title {
    line-height: 40px;
    text-indent: 10px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
}
.menu-item {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    transition: all 0.3s ease-out;
}
.menu-item a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu-item:hover {
    background-color: #2c3e50;
}
.menu-item.on {
    background-color: #2c3e50;
}
.code-item {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0 10px;
}
.sub-menu-item {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 30px;
    height: 30px;
    padding-left: 25px;
    transition: all 0.3s ease-out;
}
.menu-item:hover {
    cursor: pointer;
}
.sub-menu-item:hover {
    cursor: pointer;
}
.item-tooltip {
    text-decoration: underline;
}
.item-tooltip:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
}
.sub-menu-item:hover {
    background-color: #2c3e50;
}
.sub-menu-item.on {
    background-color: #2c3e50;
}
.colourpalette {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.colourpalette div {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    float: left;
}
.colourpalette div:nth-child(5n + 1) {
    clear: left;
}
.colourpalette div:nth-child(n + 6) {
    margin-top: 20px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    font-weight: 700;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.uploadElement {
    width: 250px;
    height: 250px;
    border: 1px black solid;
    background-color: gray;
    position: relative;
    float: left;
    margin-right: 5px;
}

.table-options-values {
    font-family: 'Roboto';
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-options-values>thead>tr>th, .table-options-values>tbody>tr>th, .table-options-values>tfoot>tr>th, .table-options-values>thead>tr>td, .table-options-values>tbody>tr>td, .table-options-values>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border: 1px solid #ddd;
}
.app {
    height: 100%;
}
.ui-toolbar-tools {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    min-height: 64px;
    max-height: 64px;
    font-size: inherit;
    font-weight: normal;
    padding: 0 10px;
    margin: 0;
}
.ui-toolbar-tools > * {
    font-size: inherit;
    margin: 0 8px;
}
.ui-toolbar-tools h2, .ui-toolbar-tools h3 {
    font-weight: normal;
}
.ui-toolbar-tools a {
    color: inherit;
    text-decoration: none;
}
.tile-container-avatar {
    width: 300px;
    float: left;
}
.avatar-tile {
    float: left;
    display: block;
    margin: 10px 20px 10px 0;
    padding: 5px;
}
.avatar-tile-ghost {
    opacity: 0.3;
}
.drag-hover-green {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 15px solid #2ECC71 !important;
    transition: all 0.3s ease-out;
}

/* Colour palette */
.colour-palette .colour-group {
    float: left;
    margin: 0 20px 20px 0;
    display: block;
    width: 180px;
}
.colour-palette .colour-group li.main-colour .name {
    display: block;
    margin-bottom: 60px;
}
.colour-palette .colour-group .light-strong {
    color: #fff;
}
.colour-palette .colour-group .hex {
    float: right;
    text-transform: uppercase;
}
.row-left-docs {
    padding-left: 20px;
    float: left;
    display: block;
    max-width: 400px;
    min-width: 400px;
}
/* 
 Test class for carousel
 

*/
.customized-horizental-carousel-class{
    position : relative ; 
    left: 0px; 
    top : 0px;
    width: 100%;
    }
.customized-vertical-carousel-class{
    position : relative ;
    left: 0px;
    top : 0px;
    height: 100%;
}

 
 /*
.ui-doc-menu-accordion {
  height: 100%;
  width: 100%;
}
.ui-doc-menu-accordion .ui-accordion-paneHeader {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background-color: #3398db;
  padding: 5px 0;
  transition: color 0.25s, border-color 0.5s;
}
.ui-doc-menu-accordion .ui-accordion-paneHeader::after,
.ui-doc-menu-accordion .ui-accordion-paneHeader::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 2px;
  background-color: #2196f3;
  transform-origin: 50% 50%;
  transition: all 0.25s;
}
.ui-doc-menu-accordion .ui-accordion-paneHeader::before {
  transform: rotate(-90deg);
}
.ui-doc-menu-accordion .ui-accordion-paneHeader:hover {
  color: #2196f3;
}
.ui-doc-menu-accordion .ui-accordion-paneHeader.is-expanded {
  background-color: #34485e;
}
.ui-doc-menu-accordion .ui-accordion-paneHeader.is-expanded::after {
  transform: rotate(90deg);
  opacity: 0;
}
.ui-doc-menu-accordion .ui-accordion-paneHeader.is-expanded::before {
  transform: rotate(0deg);
}
.ui-doc-menu-accordion .ui-accordion-paneHeader > div h5 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin: 5px;
  padding-left: 10px;
  line-height: 20px;
}
.ui-doc-menu-accordion .ui-accordion-paneContent {
  position: relative;
  overflow: hidden;
  max-height: 0px;
}
.ui-doc-menu-accordion .ui-accordion-paneContent > div {
  will-change: transform, opacity;
  transform: translate3d(0, 30px, 0);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  transition: opacity 0.5s;
}
.ui-doc-menu-accordion .ui-accordion-paneContent.is-expanded > div {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.ui-doc-menu-accordion .ui-accordion-paneContent.is-expanded-add,
.ui-doc-menu-accordion .ui-accordion-paneContent.is-expanded-remove {
  transition: max-height 0.5s;
}
*/
