"use strict";

jQuery.sap.declare("generated.app.Component");
jQuery.sap.require("sap.ui.generic.app.AppComponent");

jQuery.sap.require("sap.ui.core.util.MockServer");
try {
    // to be refactored after SharedWorkspace refactoring
    jQuery.sap.require("generated.app.models.formulaCalculation");
}
catch (e) {
}
sap.ui.core.util.MockServer.config({
    autoRespond: true,
    autoRespondAfter: 1000
});
var oMockServer = new sap.ui.core.util.MockServer({ rootUri: "/sap/opu/odata/sap/S_PROTOTYPE_MDS_SRV/" });
oMockServer.simulate("models/metadata.xml", { sMockdataBaseUrl: "models/", bGenerateMissingMockData: true });
if (typeof formulaCalculation !== "undefined") {
    formulaCalculation.patchMockServer(oMockServer);
}
oMockServer.start();


jQuery.sap.require("sap.ui.fl.FakeLrepConnector");
sap.ui.fl.FakeLrepConnector.enableFakeConnector("fakeLRep.json");

sap.ui.generic.app.AppComponent.extend("generated.app.Component", {
    metadata: {
        "manifest": "json"
    },
    getMockServer : function() {
        return oMockServer;
    }
});