<div id="participant-invitation" layout="row" >
  <div class="item">
     <div >

        <p class="description" ng-if="study_status === 'archived'">
            This study has been archived so you can't invite further participants. You can unarchive the study on the study settings.
        </p>

        <p class="description" ng-if="study_status === 'paused'">
            This study is active but paused so you can't invite further participants. You can unpause the study on the study settings.
        </p>

       <p class="description" ng-if="study_status === 'published' || study_status === 'draft'">
       Invite users to participate in your study. Simply enter their email address in the box below and, if the owner of the address has not told the Build team they don't want to receive e-mail notifications, they will receive a beautiful, hand-crafted e-mail directly in their inbox.
       </p>
       <form name="invitationForm" layout="row" layout="row" layout-align="space-between start">
            <ui-input-container class="" >
                <label class="title">Email address:</label>
                <ui-input id="inviteEmail" class="ui-input"  type="email"  name="inviteEmail"  ng-model="inviteEmail"  maxLength="254" ng-disabled="study_status === 'paused' || study_status === 'archived'"  ng-pattern="/^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?/"
                placeholder="email address"></ui-input>
                <ui-button class="btn-add" ng-disabled="invitationForm.$invalid || !inviteEmail" id="inviteAdd" ng-click="addInvitee(inviteEmail)">Add</ui-button>
                <div ng-messages="invitationForm.inviteEmail.$error" ng-if='invitationForm.inviteEmail.$dirty'>
                    <div class="emailErrorToast"  ng-message="email">This is not a valid email address!</div>
                    <div class="emailErrorToast" ng-message="pattern">This is not a valid email address!</div>
                </div>
        </ui-input-container>
       </form>
        </div>
        <div class="invite-user-container">
            <div class="invitee " ng-repeat="invite in inviteList">
                <div ng-if="invite.status === 'rejected'"  class="action icon-none small" ></div>
                <div ng-if="invite.status === 'new'"  class="action icon-delete small"  ng-click="removeInvite(invite.email)" ></div>
                <div ng-if="invite.status === 'sent'"  class="action icon-check">
                    <img  src="resources/norman-auth-client/assets/ico-check-oval.svg"> </div>
                <span class="invite-email" email-truncate="invite.email" skip="20" max="40"></span>
                <span ng-if="invite.status === 'sent'" class="invite-send-label">SENT</span>
                <span ng-if="invite.status === 'rejected'" ui-popup-open="id-{{invite.email}}" class="invite-send-label error" >NOT SENT</span>
                <span ng-if="invite.status === 'opt-out'" ui-popup-open="id-{{invite.email}}-opt-out" class="invite-send-label error" >NOT POSSIBLE</span>
                <ui-popup ng-if="invite.status === 'rejected'" id="id-{{invite.email}}" placement="bottom" offset-y="3" style="width: 300px; height: 80px;">
                     <div  style="padding:5px;"> This email can&rsquo;t currently be added. You can ask your Build Administrator to enable this email address to be added.</div>
                </ui-popup>
                 <ui-popup ng-if="invite.status === 'opt-out'" id="id-{{invite.email}}-opt-out" placement="bottom" offset-y="3" style="width: 300px; height: 80px;">
                    <div  style="padding:5px;"> The owner of this email has told the Build team they don't want email notifications, so they can't be invited to your study.</div>
                </ui-popup>
            </div>
           <ui-button class="btn-invite" size="large"  ng-disabled="countNewInvite === 0" ng-click="sendInvitee()" >Send Invitations</ui-button>
       </div>
   </div>
</div>
