<div layout="row" layout-align="start center" ng-if="question.targetURL.length > 0 && (statistics.abandoned.total > 0 || statistics.successful.total > 0 || statistics.failed.total > 0)">
    <div layout="column"class="chart">
        <ui-pie-chart values-set="statistics.chart" color-list="taskChartColor"></ui-pie-chart>
    </div>
    <div layout="column" layout-align="center start" >
        <ui-toolbar layout="column" class="actions">
            <div class="tasks">
                <div class="action icon-small-green-tick"></div>
                <div class="text-left" id="stats-participant-number-completed">{{statistics.successful.total}} <small id="stats-completed-percentage">{{statistics.successful.percentage}}%</small></div>
            </div>
            <div class="tasks">
                <div class="action icon-small-red-cross"></div>
                <div class="text-left" id="stats-participant-number-not-completed">{{statistics.failed.total}} <small id="stats-not-completed-percentage">{{statistics.failed.percentage}}%</small></div>
            </div>
            <div class="tasks">
                <div class="action icon-small-trash"></div>
                <div class="text-left" id="stats-participant-number-abandoned">{{statistics.abandoned.total}} <small id="stats-abandoned-percentage">{{statistics.abandoned.percentage}}%</small></div>
            </div>
        </ui-toolbar>
    </div>
</div>

<div layout="row" class="entries task-overview-entries" ng-repeat="page in pages">
    <div layout="row" layout-fill>
        <div layout="column" class="thumbnail-container" ng-class="{showOver: hover}" ng-mouseover="hover = true" ng-mouseleave="hover = false">
            <ui-thumbnail class="thumbnail" ng-click="goToAnnotationScreen(page.url)" light size="large" thumbnail-src="{{page.thumbnail}}"></ui-thumbnail>
        </div>
        <div layout="column" class="actions">
            <div layout="row">
                <div layout="column" class="task-overview-data">
                    <ui-toolbar layout="row" layout-align="start start" class="result">
                        <div ng-click="goToAnnotationScreen(page.url)" class="page-name" ng-bind="page.fullName"></div>
                    </ui-toolbar>
                    <ui-toolbar layout="row" layout-align="start start" class="result no-margin">
                        <div layout="column">
                            <div class="item-detail-m">
                                <div class="action icon-small-participant" ui-tooltip ui-tooltip-title="Participants" ui-tooltip-side="bottom"></div>
                                <div class="text" id="participant-number">{{page.participants}}</div>
                            </div>
                            <div class="item-detail-m">
                                <div ng-if="page.stats.completed.isTarget" class="action icon-small-green-tick"></div>
                                <div ng-if="!page.stats.completed.isTarget" class="action icon-small-red-cross"></div>
                                <div class="text" id="stats-task-status">{{page.stats.completed.answersForUrl}}</div>
                            </div>
                        </div>
                        <div layout="column">
                            <div class="item-detail-m">
                                <div class="action icon-small-comments" ui-tooltip ui-tooltip-title="Comments" ui-tooltip-side="bottom"></div>
                                <div class="text" id="stats-comments-count">{{page.stats.TotalsComments}}</div>
                            </div>
                            <div class="item-detail-m">
                                <div class="action icon-small-trash"></div>
                                <div class="text" id="stats-task-abandoned">{{page.stats.abandoned}}</div>
                            </div>

                        </div>
                        <div layout="column">
                            <div class="item-detail-m">
                                <div class="action icon-small-annotation" ui-tooltip ui-tooltip-title="Annotations" ui-tooltip-side="bottom"></div>
                                <div class="text" id="stats-annotation-count">{{page.stats.totalAnnotations}}</div>
                            </div>
                            <div class="item-detail-m">
                                <div class="action icon-small-clock" ui-tooltip ui-tooltip-title="Time" ui-tooltip-side="bottom"></div>
                                <div id="stats-task-time" class="text" ng-bind-html="page.averageTime | AverageDurationFilter : 'avg.'"></div>
                            </div>
                        </div>
                        <div layout="column">
                            <div layout="row" layout-align="center center" class="item-chart" ng-if="page.stats.positiveAnnotations > 0 || page.stats.neutralAnnotations > 0 || page.stats.negativeAnnotations > 0">
                                <div layout="column" class="chart">
                                    <ui-pie-chart values-set="page.stats.annotationsChart" color-list="sentimentChartColor" small></ui-pie-chart>
                                </div>
                                <div layout="column" class="chart-data-small">
                                    <ui-toolbar layout="column" class="actions">
                                        <div class="tasks">
                                            <div class="action icon-face-smile small"></div>
                                            <div class="text-left-sentiment" id="stats-positive-anno">{{page.stats.positiveAnnotations}} <small id="stats-positive-anno-percentage">{{page.stats.positiveAnnotationsPercent}}%</small></div>
                                        </div>
                                        <div class="tasks">
                                            <div class="action icon-face-normal small"></div>
                                            <div class="text-left-sentiment" id="stats-nuetral-anno">{{page.stats.neutralAnnotations}} <small id="stats-nuetral-anno-percentage">{{page.stats.neutralAnnotationsPercent}}%</small></div>
                                        </div>
                                        <div class="tasks">
                                            <div class="action icon-face-sad small"></div>
                                            <div class="text-left-sentiment" id="stats-negative-anno">{{page.stats.negativeAnnotations}} <small id="stats-negative-anno-percentage">{{page.stats.negativeAnnotationsPercent}}%</small></div>
                                        </div>
                                    </ui-toolbar>
                                </div>
                            </div>
                        </div>
                    </ui-toolbar>
                </div>
            </div>
        </div>
    </div>
</div>
