<div id="questions-list">
    <!-- select create study type-->
    <div ng-show="study.questions.length === 0 && !isUploadingScreen" id="study-type-select">
        <h2>What do you want to do?</h2>
        <div class="study-tiles">
            <div class="study-tile">
                <h2 class="tile-header">Select a Prototype</h2>
                <div class="tile-icon prototype"></div>
                <p>Ask participants to complete a task and provide feedback on a prototype</p>
                <ui-button class="tile-button" size="large" ui-dialog-open="task-dialog">Browse...</ui-button>
            </div>
            <div class="study-tile">
                <h2 class="tile-header">Select an Image</h2>
                <div class="tile-icon images common-prototype"></div>
                <p>Ask participants questions about an image</p>
                <ui-button class="tile-button" size="large" ng-click="openAssetsModal()">Browse...</ui-button>
            </div>
        </div>

        <ui-file-upload
            project-id="study.projectId"
            success="createPrototypeStudy(fileId)"
            failure="handleFileUploadError(response)"
            dropzone-id="zip-dropzone"
            is-dialog="true"
            accept="application/zip,application/x-zip-compressed"
            acceptFileExtensions="zip"
            invalid-files="rejectFilesZipUpload()"
            upload-button-id="zip-upload">

            <ui-dialog
                id="prototype-popup"
                class="proto-popup"
                modal="true"
                title="Upload a ZIP file"
                cancel-text="Cancel"
                close-text="SELECT"
                close-action="createPrototypeStudy()">

                <div id="zip-dropzone" class="popup-content">Upload a ZIP file containing your HTML prototype.
                    <p><div id="zip-upload" class="ui-button ui-button-large" size="large">Browse...</div></p>
                    <ui-file-upload-items style-class="uploadElement" thumbnail-size="large"></ui-file-upload-items>
                </div>
            </ui-dialog>

        </ui-file-upload>
    </div>

    <div ui-tile-container
         drag=".screen"
         drag-on-update="updateOrder()"
         class="tile-container-screen"
         style="margin: 20px 0;">

        <!-- The question tiles -->
        <div class="screen"
             ng-class="{showOver: hover}"
             ng-repeat="question in study.questions | QuestionsListFilter | orderBy: 'ordinal'"
             data-id="{{question._id}}"
             data-docId="{{question.documentId}}"
             data-ordinal="{{question.ordinal}}"
             ng-mouseover="hover = true"
             ng-mouseleave="hover = false">

            <!-- Show thumbnail for questions and tasks which are completed and ready to edit.  Tasks which are still
                processing show a progress bar -->
            <div ng-if="!aProcessingTasksProgress[question._id] || aProcessingTasksProgress[question._id] === 100">
                <div class="delete-icon" ui-dialog-open="delete-confirm{{$index}}"></div>
                <ui-thumbnail class="thumbnail" light size="large" ng-click="goToQuestions(question._id)" ng-class="{'task-thumbnail': question.type === 'Task' }" thumbnail-src="{{question.thumbnail}}"></ui-thumbnail>
                <ui-dialog
                    id="delete-confirm{{$index}}"
                    modal="true"
                    content="Are you sure you want to delete this screen and all it's questions?"
                    cancel-text="Cancel"
                    close-text="Delete"
                    close-action="deleteScreen(question)">
                </ui-dialog>
            </div>

            <!-- Progressing tile -->
            <div ng-if="aProcessingTasksProgress[question._id] && aProcessingTasksProgress[question._id] !== 100" class="ui-thumbnail large light processing-task">
                <ui-progress-bar current-value="{{aProcessingTasksProgress[question._id]}}"></ui-progress-bar>
                <span class="processing-text">Processing...</span>
            </div>
            <div ng-class="{'task-name': question.type === 'Task', 'question-name': question.type !== 'Task'}" ng-bind="question.name" title="{{question.name}}"></div>
            <div class="question-count" ng-click="goToQuestions(question._id)" ng-if="countQuestionByOrdinal(question.ordinal) > 0" ng-bind="countQuestionByOrdinal(question.ordinal)"></div>

            <div class="ui-sortable-backdrop"></div>
        </div>
    </div>


    <!-- file upload for adding study images (drag & drop and upload images button.
    --  Disabled if there is no study id (ie, study does not exist)
    -->
    <ui-file-upload
        project-id="study.projectId"
        upload-button-id="uploadText studyUploadButton"
        success="addUploadedItem(responseDetails, sequence)"
        completed="saveImagesToStudy()"
        failure="onUploadFailure(response)"
        keep-upload-items-on-complete="true"
        is-dialog=false
        invalid-files="rejectFiles()"
        accept="image/jpg,image/gif,image/png,image/jpeg,image/tiff,image/tif,image/bmp,image/psp,image/eps,image/raw,application/x-zip-compressed,application/zip"
        acceptFileExtensions="jpg,gif,png,jpeg,tiff,tif,bmp,psp,eps,zip"
        upload-start="setScreenUploading()"
        file-start="onFileUpload(file)"
        upload-url="{{serviceUrl}}"
        ng-if="study._id">

        <ui-file-upload-items style-class="screen" thumbnail-size="large"></ui-file-upload-items>
    </ui-file-upload>

    <!-- partial views for question edit modal, create task modal, and select images popup -->
    <div ng-include="'resources/norman-user-research-client/questions/edit-modal/template.html'" ng-controller="QuestionEditCtrl"></div>
    <div ng-include="'resources/norman-user-research-client/createTask/template.html'" ng-controller="CreateTaskCtrl"></div>
    <div ng-include="'resources/norman-user-research-client/selectAssets/template.html'" ng-controller="SelectAssetsCtrl"></div>

    <!-- Handy tip for drag and drop.  Hidden if there is no study created -->
    <handy-tip ng-if="study._id" tip-text="handyTipText"></handy-tip>
</div>
