<div ng-controller="PrototypeCtrl as prototype" layout="column" class="animated fadeIn" layout-fill
     data-ng-init="prototype.reset()" id="project-prototype">
    <div class="prototype-header">
    <div class="prototype-title">
            <h1 class="title-layout" layout="row">
                <img class="np-p-prototype-lock-icon"
                     ng-src="resources/norman-projects-client/assets/prototype-locked-icon.svg"
                     ng-show="prototype.prototypeLocked">
                <span>Prototype pages</span>
                <ui-avatar ng-show="prototype.prototypeLocked" class="np-p-prototype-lock-avatar"
                           avatar-name="{{prototype.prototypeLockUser.name || prototype.prototypeLockUser.email}}"
                           avatar-image="{{prototype.prototypeLockUser.avatar_url}}"></ui-avatar>
                <div ng-show="prototype.prototypeLocked"
                     class="np-p-prototype-lock-message">{{prototype.prototypeLockUser.name || prototype.prototypeLockUser.email}}
                    , Editing
                </div>
            </h1>
        </div>
        <div class="prototype-new">
            <ui-button ng-show="prototype.prototypeLocked" ng-click="prototype.openComposerInViewMode()"
                       class="np-p-view-prototype" size="large">VIEW PROTOTYPE
            </ui-button>
        </div>
    </div>
    <div layout="row" class="prototype-subtitle" ng-if="prototype.screens.length !== 0">
        <h1>
            <small>
                <b ng-bind="prototype.screens.length"
                   ng-show="prototype.screens.length > 0"></b>
                <ng-pluralize count="prototype.screens.length"
                              when="{'one': ' page', 'other': ' pages'}"></ng-pluralize>
            </small>
        </h1>
    </div>

    <div layout="column" class="prototype-list">
        <div layout="row"
             layout-align="start start"
             ng-class="{'np-p-disabled': prototype.prototypeLocked}"
             class="animated fadeIn prototype-list">
        <div ng-class="{prototypeShowAll: prototype.showAllPages}"
                 class="prototype-pages"
                 more-less
                 num-of-hidden="prototype.numOfHidden"
                 id="prototype-members">
                <ui-screen-tile hover-class="ui-screen-tile-hover" class="animated fadeIn prototype-tile-margin"
                                screen-image="resources/norman-projects-client/assets/map.svg" screen-name="View all: Map"
                                ng-click="prototype.openPageMapView()">

                </ui-screen-tile>
                <ui-screen-tile hover-class="ui-screen-tile-hover" class="animated fadeIn prototype-tile-margin"
                                ng-repeat="screen in prototype.screens"
                                screen-image="{{prototype.artifactBaseUrl + screen.thumbnailUrl}}"
                                screen-name="{{screen.displayName}}"
                                ng-click="prototype.openComposer(screen.name)">

                </ui-screen-tile>
            </div>
        </div>
        <div ng-show="prototype.numOfHidden > 0" layout="row">
            <div class="prototype-all-link" ng-class="prototype.showAllPages ? 'prototype-all-link-less' : 'prototype-all-link-more'"
                 ng-click="prototype.showAllPages = !showAllPages">&nbsp;</div>
            <a class="prototype-all-link" href="" ng-click="prototype.showAllPages = !prototype.showAllPages"
               ng-bind="(prototype.showAllPages == true ? 'Hide '+prototype.numOfHidden : 'Show '+prototype.numOfHidden)+(prototype.numOfHidden > 1 ? ' more pages' : ' more page')"></a>
        </div>
    </div>



</div>
