{
    "env": {
        "node": true,
        "browser": true,
        "mocha": true
    },
    "globals": {
        "angular": true,
        "_": true,
        "chai": true,
        "require": true,
        "expect": true,
        "it": true,
        "by": true,
        "inject": true,
        "browser": true,
        "element": true,
        "sinon" : true,
        "isEmpty": true,
        "module": true
    },
    "rules": {
        // http://eslint.org/docs/rules/
        "strict": 2,
        "eqeqeq": 1,
        "quotes": [2, "single", "avoid-escape"],
        "no-undef": 1,
        "no-mixed-spaces-and-tabs": 2,
        "new-cap": 0,
        "no-caller": 1,
        "no-unused-vars": 2,
        "no-trailing-spaces": 1,
        "eol-last": 1,
        "key-spacing": 0,
        "no-comma-dangle": 1,
        "curly": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0
    }
}
